In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
world_food_production_df = pd.read_csv('world_food_production.csv')
world_food_production_df.head()

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,1961,700000.0,319000.0,7467702.0,2279000.0,1873812.0,56315.0,3270871.0,12000.0,...,10100.0,232910.0,1131882.0,225000.0,870970.0,835368.0,5600.0,3139079.0,63439.0,15100.0
1,Afghanistan,1962,700000.0,319000.0,7420515.0,2279000.0,2044797.0,61519.0,3562524.0,12800.0,...,10100.0,259412.0,1111006.0,225000.0,883512.0,867170.0,6000.0,3181580.0,65118.0,15100.0
2,Afghanistan,1963,713000.0,319000.0,8479074.0,1947000.0,2096077.0,63596.0,3409916.0,12800.0,...,10100.0,251529.0,1145004.0,225000.0,996674.0,922621.0,6160.0,3304256.0,61760.0,15100.0
3,Afghanistan,1964,720000.0,380000.0,9113779.0,2230000.0,2388264.0,66604.0,3229336.0,12800.0,...,12400.0,247556.0,1160831.0,265000.0,1162048.0,1190061.0,6400.0,3392527.0,62759.0,18400.0
4,Afghanistan,1965,720000.0,380000.0,10067913.0,2282000.0,2559608.0,72418.0,3169104.0,13200.0,...,13700.0,266947.0,1138860.0,287000.0,1075084.0,874245.0,6800.0,3450849.0,66269.0,20400.0

In [5]:
world_food_production_df.columns

Index(['Entity', 'Year', 'Maize Production (tonnes)',
       'Rice  Production ( tonnes)', 'Yams  Production (tonnes)',
       'Wheat Production (tonnes)', 'Tomatoes Production (tonnes)',
       'Tea  Production ( tonnes )', 'Sweet potatoes  Production (tonnes)',
       'Sunflower seed  Production (tonnes)', 'Sugar cane Production (tonnes)',
       'Soybeans  Production (tonnes)', 'Rye  Production (tonnes)',
       'Potatoes  Production (tonnes)', 'Oranges  Production (tonnes)',
       'Peas, dry Production ( tonnes)', 'Palm oil  Production (tonnes)',
       'Grapes  Production (tonnes)', 'Coffee, green Production ( tonnes)',
       'Cocoa beans Production (tonnes)', 'Meat, chicken  Production (tonnes)',
       'Bananas  Production ( tonnes)', 'Avocados Production (tonnes)',
       'Apples Production (tonnes)'],
      dtype='object')

In [6]:
world_food_production_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11912 entries, 0 to 11911
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Entity                               11912 non-null  object
 1   Year                                 11912 non-null  int64
 2   Maize Production (tonnes)            11912 non-null  float64
 3   Rice  Production ( tonnes)           11912 non-null  float64
 4   Yams  Production (tonnes)            11912 non-null  float64
 5   Wheat Production (tonnes)            11912 non-null  float64
 6   Tomatoes Production (tonnes)         11912 non-null  float64
 7   Tea  Production ( tonnes )           11912 non-null  float64
 8   Sweet potatoes  Production (tonnes)  11912 non-null  float64
 9   Sunflower seed  Production (tonnes)  11912 non-null  float64
 10  Sugar cane Production (tonnes)       11912 non-null  float64
 11  Soybeans  Production (tonnes)        11912 non-null  float64
 12  Rye  Production (tonnes)             11912 non-null  float64
 13  Potatoes  Production (tonnes)        11912 non-null  float64
 14  Oranges  Production (tonnes)         11912 non-null  float64
 15  Peas, dry Production ( tonnes)       11912 non-null  float64
 16  Palm oil  Production (tonnes)        11912 non-null  float64
 17  Grapes  Production (tonnes)          11912 non-null  float64
 18  Coffee, green Production ( tonnes)   11912 non-null  float64
 19  Cocoa beans Production (tonnes)      11912 non-null  float64
 20  Meat, chicken  Production (tonnes)   11912 non-null  float64
 21  Bananas  Production ( tonnes)        11912 non-null  float64
 22  Avocados Production (tonnes)         11912 non-null  float64
 23  Apples Production (tonnes)           11912 non-null  float64
dtypes: float64(22), int64(1), object(1)
memory usage: 2.2+ MB

In [7]:
world_food_production_df.isnull().sum()

Entity                                 0
Year                                   0
Maize Production (tonnes)              0
Rice  Production ( tonnes)             0
Yams  Production (tonnes)              0
Wheat Production (tonnes)              0
Tomatoes Production (tonnes)           0
Tea  Production ( tonnes )             0
Sweet potatoes  Production (tonnes)    0
Sunflower seed  Production (tonnes)    0
Sugar cane Production (tonnes)         0
Soybeans  Production (tonnes)          0
Rye  Production (tonnes)               0
Potatoes  Production (tonnes)          0
Oranges  Production (tonnes)           0
Peas, dry Production ( tonnes)         0
Palm oil  Production (tonnes)          0
Grapes  Production (tonnes)            0
Coffee, green Production ( tonnes)     0
Cocoa beans Production (tonnes)        0
Meat, chicken  Production (tonnes)     0
Bananas  Production ( tonnes)          0
Avocados Production (tonnes)           0
Apples Production (tonnes)             0
dtype: int64

In [8]:
world_food_production_df[world_food_production_df.duplicated()]

Empty DataFrame
Columns: [Entity, Year, Maize Production (tonnes), Rice  Production ( tonnes), Yams  Production (tonnes), Wheat Production (tonnes), Tomatoes Production (tonnes), Tea  Production ( tonnes ), Sweet potatoes  Production (tonnes), Sunflower seed  Production (tonnes), Sugar cane Production (tonnes), Soybeans  Production (tonnes), Rye  Production (tonnes), Potatoes  Production (tonnes), Oranges  Production (tonnes), Peas, dry Production ( tonnes), Palm oil  Production (tonnes), Grapes  Production (tonnes), Coffee, green Production ( tonnes), Cocoa beans Production (tonnes), Meat, chicken  Production (tonnes), Bananas  Production ( tonnes), Avocados Production (tonnes), Apples Production (tonnes)]
Index: []

[0 rows x 24 columns]

In [9]:
world_food_production_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,11912.0,1.992115e+03,1.760609e+01,1961.0,1977.0000,1993.000,2.007000e+03,2.021000e+03
Maize Production (tonnes),11912.0,1.926434e+07,7.028022e+07,0.0,23793.0000,400049.000,4.979875e+06,1.210235e+09
Rice Production ( tonnes),11912.0,2.254542e+07,7.749779e+07,0.0,39024.7500,454374.500,4.440542e+06,7.872939e+08
Yams Production (tonnes),11912.0,2.744973e+06,8.787786e+06,0.0,11762.5000,123605.488,5.721030e+05,7.871405e+07
Wheat Production (tonnes),11912.0,2.365684e+07,6.177899e+07,0.0,88925.0000,1650000.000,1.524149e+07,7.723055e+08
Tomatoes Production (tonnes),11912.0,3.238661e+06,1.146992e+07,0.0,12500.0000,129141.000,8.691358e+05,1.891340e+08
Tea Production ( tonnes ),11912.0,1.350523e+05,2.544264e+05,10.0,2040.0000,25645.500,1.192675e+05,2.524670e+06
Sweet potatoes Production (tonnes),11912.0,5.021303e+06,2.001692e+07,0.0,7082.6050,78284.000,7.472216e+05,1.528620e+08
Sunflower seed Production (tonnes),11912.0,1.410297e+06,3.625725e+06,0.0,15376.7500,148150.350,1.115602e+06,5.818563e+07
Sugar cane Production (tonnes),11912.0,5.218411e+07,1.527085e+08,0.0,331210.0000,3275769.800,2.507227e+07,1.958234e+09
Soybeans Production (tonnes),11912.0,7.902080e+06,2.773782e+07,0.0,3811.0000,84583.440,1.019846e+06,3.716936e+08
Rye Production (tonnes),11912.0,1.898678e+06,4.547930e+06,0.0,19018.8870,174864.500,1.020084e+06,3.819358e+07
Potatoes Production (tonnes),11912.0,1.225079e+07,3.684243e+07,0.0,34471.5000,488054.500,3.615307e+06,3.761200e+08
Oranges Production (tonnes),11912.0,2.176532e+06,6.078086e+06,0.0,11827.2800,146906.000,1.434050e+06,7.656665e+07
"Peas, dry Production ( tonnes)",11912.0,6.375701e+05,1.527103e+06,0.0,5196.3450,47557.000,4.269712e+05,1.663746e+07
Palm oil Production (tonnes),11912.0,1.502615e+06,6.144476e+06,0.0,13841.9500,78876.000,4.145059e+05,7.906779e+07
Grapes Production (tonnes),11912.0,3.623623e+06,8.225799e+06,0.0,67577.0000,468066.400,3.080176e+06,8.001590e+07
"Coffee, green Production ( tonnes)",11912.0,3.549990e+05,8.785398e+05,0.0,3119.2500,32295.500,2.126140e+05,1.079544e+07
Cocoa beans Production (tonnes),11912.0,2.191661e+05,5.835509e+05,0.0,1092.0240,9160.000,1.250475e+05,5.780850e+06
"Meat, chicken Production (tonnes)",11912.0,1.165719e+06,4.050976e+06,0.0,3882.6400,36590.000,3.547400e+05,5.017566e+07
Bananas Production ( tonnes),11912.0,2.653282e+06,8.178866e+06,0.0,10071.4525,150837.000,1.187962e+06,1.249786e+08
Avocados Production (tonnes),11912.0,1.564768e+05,4.239785e+05,0.0,3681.5000,35778.000,1.160314e+05,8.685672e+06
Apples Production (tonnes),11912.0,3.260419e+06,8.748227e+06,0.0,44316.5000,422207.010,1.950000e+06,9.314436e+07

In [10]:
world_food_production_df.shape

(11912, 24)

In [11]:
print("number of countries: ",len(pd.unique(world_food_production_df['Entity'])))
pd.unique(world_food_production_df['Entity'])

number of countries:  226

array(['Afghanistan', 'Africa', 'Africa (FAO)', 'Albania', 'Algeria',
       'Americas (FAO)', 'Angola', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Asia', 'Asia (FAO)', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belgium-Luxembourg (FAO)', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Caribbean (FAO)',
       'Central African Republic', 'Central America (FAO)',
       'Central Asia (FAO)', 'Chad', 'Chile', 'China', 'China (FAO)',
       'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Czechia', 'Czechoslovakia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Eastern Africa (FAO)',
       'Eastern Asia (FAO)', 'Eastern Europe (FAO)', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Ethiopia (former)', 'Europe', 'Europe (FAO)',
       'European Union (27)', 'European Union (27) (FAO)', 'Fiji',
       'Finland', 'France', 'French Guiana', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guadeloupe', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High-income countries', 'Honduras', 'Hungary', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyzstan', 'Land Locked Developing Countries (FAO)', 'Laos',
       'Latvia', 'Least Developed Countries (FAO)', 'Lebanon', 'Lesotho',
       'Libya', 'Lithuania', 'Low Income Food Deficit Countries (FAO)',
       'Low-income countries', 'Lower-middle-income countries',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Melanesia', 'Mexico',
       'Micronesia (FAO)', 'Micronesia (country)', 'Middle Africa (FAO)',
       'Moldova', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal',
       'Net Food Importing Developing Countries (FAO)', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North America', 'North Korea', 'North Macedonia',
       'Northern Africa (FAO)', 'Northern America (FAO)',
       'Northern Europe (FAO)', 'Oceania', 'Oceania (FAO)', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Serbia and Montenegro',
       'Sierra Leone', 'Slovakia', 'Slovenia',
       'Small Island Developing States (FAO)', 'Somalia', 'South Africa',
       'South America', 'South America (FAO)', 'South Korea',
       'South Sudan', 'South-eastern Asia (FAO)', 'Southern Africa (FAO)',
       'Southern Asia (FAO)', 'Southern Europe (FAO)', 'Spain',
       'Sri Lanka', 'Sudan', 'Sudan (former)', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Trinidad and Tobago', 'Turkey',
       'Turkmenistan', 'USSR', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Western Africa (FAO)',
       'Western Asia (FAO)', 'Western Europe (FAO)', 'World', 'Yemen',
       'Yugoslavia', 'Zambia', 'Zimbabwe'], dtype=object)

In [12]:
world_food_production_df.groupby(['Entity']).first()

,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),Sugar cane Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
Entity,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1961,700000.0,3.190000e+05,7467702.000,2279000.0,1873812.000,56315.0,3270871.000,12000.000,4.500000e+04,...,10100.000,232910.000,1131882.000,225000.00,870970.000,835368.000,5600.00,3.139079e+06,63439.000,15100.00
Africa,1961,16140043.0,4.307909e+06,7587702.000,5091715.0,1968812.000,12224.0,3280871.000,140468.000,2.792512e+07,...,1583274.000,232910.000,1111006.000,3080703.00,870970.000,835368.000,307963.34,3.204079e+06,63439.000,136344.00
Africa (FAO),1961,16147243.0,4.309840e+06,475673.000,5118115.0,30000.000,891413.0,3285493.000,140468.000,2.806512e+07,...,1609274.000,3020.000,0.000,3080703.00,3450946.000,328486.000,315963.00,0.000000e+00,606374.000,136344.00
Albania,1961,154104.0,4.603000e+03,20.000,97800.0,139720.000,28233.0,90000.000,4000.000,2.356598e+08,...,2553.000,301380.000,3812723.000,43412.00,168600.000,400.000,1530.00,1.938099e+07,2000.000,10004.00
Algeria,1961,5689.0,9.512000e+03,89000.000,685723.0,6977339.000,6228.0,106.000,20.000,6.424370e+05,...,251000.000,19900.000,48000.000,1845000.00,200714.000,8229.000,14140.00,2.800000e+05,44120.000,15400.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
World,1961,205027250.0,2.158892e+07,120718.740,1110216.8,25000.000,1557.8,1333789.984,778990.680,6.190712e+06,...,1280672.026,2179203.000,5556053.800,2407128.80,4915.000,115136.200,924792.10,3.196153e+06,5492.288,2238671.20
Yemen,1961,12200.0,5.202360e+06,7150.800,2856560.0,13490.190,1558.2,690586.200,258505.042,1.637476e+07,...,801326.860,20621.600,122528.600,5449158.20,801.600,1957.200,2933422.20,2.479890e+06,53712.800,2441236.60
Yugoslavia,1961,4554000.0,2.063790e+06,127106.500,5800564.6,106968.560,302.0,18091.000,584454.800,6.168728e+06,...,231957.400,3458.710,916138.960,50461927.60,45285.600,207640.212,2418786.00,1.228851e+06,417073.800,4705551.80
Zambia,1961,660000.0,2.112268e+05,88119.738,10879534.8,724415.358,16483.0,3267058.200,983856.000,1.127847e+09,...,95940.000,1148732.100,9882484.800,5469578.00,35734.138,2324.200,597000.00,5.310060e+04,8237.156,5891840.00
Zimbabwe,1961,1014000.0,3.764522e+05,869482.000,1777246.8,37754.800,32056.0,2959469.400,682345.000,3.626493e+07,...,1146122.782,27901.816,240643.364,4164918.76,28493.000,12213.800,16600.00,3.289375e+05,33378.530,713809.94

In [13]:
aggregations = {}
numerical_columns = world_food_production_df.select_dtypes(include=['number']).columns.drop(labels=['Year']).to_numpy()
for col in numerical_columns:
    aggregations[col] = 'sum'
    
country_production = world_food_production_df.groupby(['Entity'], as_index=False).agg(aggregations)

country_production.head()

,Entity,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),Sugar cane Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,2.992980e+07,2.457988e+07,1.867137e+09,175353720.0,6.136439e+08,10276735.0,6.346197e+08,706580.73,3.314614e+06,...,6.905263e+05,2.159647e+07,105755474.7,2.726013e+07,7.047676e+07,1.140504e+08,9.657590e+05,5.890920e+08,1.867013e+07,3069366.55
1,Africa,2.555105e+09,9.688623e+08,1.873572e+09,917333250.0,6.301866e+08,3818459.0,6.376593e+08,56837815.30,4.113440e+09,...,2.966700e+08,2.159647e+07,103491710.7,1.907307e+08,7.047676e+07,1.140504e+08,1.473147e+08,5.975420e+08,1.867013e+07,78718846.40
2,Africa (FAO),2.557080e+09,9.692610e+08,5.449159e+07,932322017.0,7.147370e+06,79256129.0,1.889863e+08,57902815.20,4.292115e+09,...,2.989864e+08,2.841148e+05,47547681.5,1.907307e+08,2.344958e+08,3.415427e+07,1.483456e+08,4.747797e+08,1.194806e+08,78718846.70
3,Albania,1.619860e+07,3.498600e+05,5.442330e+03,20553494.9,3.225081e+07,953211.0,3.078492e+07,750459.00,3.454160e+10,...,4.394126e+05,1.151088e+08,30521313.5,5.921816e+06,3.643452e+06,1.816232e+04,4.551435e+05,8.255331e+08,2.736971e+05,1804335.99
4,Algeria,1.696285e+05,1.048863e+05,1.048905e+07,107095475.2,1.083053e+09,262078.0,1.072218e+04,13819.79,2.965323e+07,...,2.634310e+07,2.946014e+06,825471744.0,3.526025e+07,8.116882e+07,2.292857e+07,9.598646e+06,5.443402e+07,1.794194e+07,8744500.22